<%- include("partials/header") %>
<div class="createblog">
    <div class="like-button">
        <a class="like-link" href="/compose">CREATE YOUR BLOG</a>
    </div>
</div>

<h1>HELLO</h1>
<%mypostArr.forEach(function(element){%>
    <h1><%=element.title%></h1>
    <%if(element.contant.length > 100){%>
        <p><%=element.contant.substring(0,100) + "...";%> <a href="posts/<%=element.title%>">Read More</a> </p>
    <%}%>
    <%if(element.contant.length < 100){%>
        <p> <%=element.contant %> </p>
    <%}%>
<%})%>
<%- include("partials/footer") %>